<a href="https://colab.research.google.com/github/adorable827/Data_Analysis/blob/main/2_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üëÄ üêæ <font color = 'red'> **Data frame** </font>

|Index Name/label | column 0| column 1 | column 2 | ...| column n |
|:|-|-|-|-|-|
|index 0 | data 0 | data 0 | data 0 | ... | data 0 |
|index 1 | data 1 | data 1 | data 1 | ... | data 1 |
|index 2 | data 2 | data 2 | data 2 | ... | data 2 |
|index 3 | data 3 | data 3 | data 3 | ... | data 3 |
| . | . | . | . | . | . |
| . | . | . | . | . | . |
| . | . | . | . | . | . |
|index n | data n | data n | data n | ... | data n |
|| series 0 | series 1 | series 2 | ... | series n |

>

- series : column vector
- data frame: 2-plane vector or matrix

>

<font color = 'blue'>üëÄ üêæ **An example of data frame**

Table on p.12 of the textbook

|Ï¢ÖÎ™©ÏΩîÎìú | ÌöåÏÇ¨Ïù¥Î¶Ñ| Ïï°Î©¥Í∞Ä | Ï¥ùÏ£ºÏãùÏàò |
|:|-|-|-|
|005930 | ÏÇºÏÑ±Ï†ÑÏûê | 100Ïõê | 5,970,000,000 |
|017670 | SKÌÖîÎ†àÏΩ§ | 500Ïõê | 81,000,000 |
|1005380 | ÌòÑÎåÄÏûêÎèôÏ∞® | 5000Ïõê | 214,000,000 |

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 1 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **dictionary ‚û°Ô∏è data frame, shape (3,5) 3Ìñâ 5Ïó¥**

#-*- coding: urf-8 -*-

# dictionary data with column name as key & list as value

import pandas as pd
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

#Ìï®ÏàòÎ°ú dict_data Î≥ÄÏàò ÎÇ¥Ïö©ÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôò. Î≥ÄÏàò dfÏóê Ìï†Îãπ
df = pd.DataFrame(dict_data)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 1 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **dictionary ‚û°Ô∏è data frame, shape (3,5) 3Ìñâ 5Ïó¥ with Index Names**

#-*- coding: urf-8 -*-

# dictionary data with column name as key & list as value

import pandas as pd
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

#Ìï®ÏàòÎ°ú dict_data Î≥ÄÏàò ÎÇ¥Ïö©ÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôò. Î≥ÄÏàò dfÏóê Ìï†Îãπ
df = pd.DataFrame(dict_data, index=['item1','item2','item3'])

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


       c0  c1  c2  c3  c4
item1   1   4   7  10  13
item2   2   5   8  11  14
item3   3   6   9  12  15

üëÄ üêæ **Give names of row index & coumn name**

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 2 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Ìñâ Ïù∏Îç±Ïä§/ Ïó¥ Ïù¥Î¶Ñ ÏßÄÏ†ïÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì§Í∏∞**

#-*- coding: urf-8 -*-

import pandas as pd

tuple_data = ([15, 'Male', 'Public'], [17, 'Female', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Simon', 'Emma'],
              columns = ['Age', 'Gender', 'School'])

print(type(df))
print('\n')
print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

<class 'pandas.core.frame.DataFrame'>


       Age  Gender    School
Simon   15    Male    Public
Emma    17  Female  Priviate


Index(['Simon', 'Emma'], dtype='object')


Index(['Age', 'Gender', 'School'], dtype='object')

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 3 ‚§µÔ∏è**

#@markdown <font color = 'blue'>ÏúÑ ÏΩîÎìúÏÖÄ Ìñâ Ïù∏Îç±Ïä§ (row index)Î•º ['Student 1', 'Student 2']Î°ú Î≥ÄÍ≤ΩÌïòÍ≥†, Ïó¥ Ïù¥Î¶Ñ (column name)ÏùÑ ['Number of Years', 'M/F', 'Affiliation'] ÏúºÎ°ú Î≥ÄÍ≤Ω

#@markdown Purpose: üåº Add some variaions!

#@markdown - new index names Îäî ÏÉàÎ°ú ÏßÄÏ†ï


import pandas as pd

tuple_data = ([15, 'Male', 'Public'], [17, 'Female', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Simon', 'Emma'],
              columns = ['Age', 'Gender', 'School'])

df.index = ['Student 1', 'Student 2']

df.columns = ['Number of Years', 'M/F', 'Affiliation']

#UserWarning: Pandas doesn't allow columns to be created via a new attribute name. If you miss 'inplace=True argument, you will end up with old column names.
#df.rename(columns={'Age':'Number of Years', 'Gender':'M/F', 'School':'Affiliation'}, inplace = True)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


           Number of Years     M/F Affiliation
Student 1               15    Male      Public
Student 2               17  Female    Priviate

In [ ]:
import pandas as pd

tuple_data = ([36, 'Male', 'Public'], [35, 'Male', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Dujun', 'Yoseop'],
              columns = ['Age', 'Gender', 'School'])

df.rename(index = {'Dujun':'Student1', 'Yoseop':'Student 2'}, inplace = True)

df.rename(columns = {'Age':'Number of Years', 'Gender':'M/F', 'School':'Affiliation'}, inplace = True)

print(df)

           Number of Years   M/F Affiliation
Student1                36  Male      Public
Student 2               35  Male    Priviate

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 3_1 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Instead of giving new names for the rows and columns directly, try to use 'rename()' function!**

#@markdown - When new names are given to index names and column names, rename() function can be used.

import pandas as pd

tuple_data = ([15, 'Male', 'Public'], [17, 'Female', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Simon', 'Emma'],
              columns = ['Age', 'Gender', 'School'])

df.rename(index = {'Simon':'Student1', 'Emma':'Student 2'}, inplace = True)

df.rename(columns = {'Age':'Number of Years', 'Gender':'M/F', 'School':'Affiliation'}, inplace = True)

#UserWarning1: The textbook says Pandas doesn't allow columns to be created via a new attribute name, but it wasn't true.

#UserWarning2: If you miss 'inplace=True argument, you will end up with old column names.

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


           Number of Years     M/F Affiliation
Student1                15    Male      Public
Student 2               17  Female    Priviate

In [ ]:
import pandas as pd

tuple_data = ([36, 'Male', 'Public'], [35, 'Male', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Dujun', 'Yoseop'],
              columns = ['Age', 'Gender', 'School'])

df.rename(index = {'Dujun':'St1', 'Yoseop':'St2'})
df.rename(columns = {'Age':'Number of Years', 'Gender':'M/F', 'School':'Affiliation'})

print(df)

        Age Gender    School
Dujun    36   Male    Public
Yoseop   35   Male  Priviate

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 3_2 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **üíä If you miss 'inplace=True argument of pd.rename() function for the immediate application of the operation, you will end up with old row/column names.**

import pandas as pd

tuple_data = ([15, 'Male', 'Public'], [17, 'Female', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Simon', 'Emma'],
              columns = ['Age', 'Gender', 'School'])

df.rename(index = {'Simon':'Student1', 'Emma':'Student 2'})

df.rename(columns = {'Age':'Number of Years', 'Gender':'M/F', 'School':'Affiliation'})


print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


       Age  Gender    School
Simon   15    Male    Public
Emma    17  Female  Priviate

<font color = 'blue'>üëÄ üêæ **Dropping rows & colums**

In [ ]:
import pandas as pd

exam_data = {'Math' : [90, 80, 70], 'English' : [98, 89, 95],
             'Music' : [85, 95, 100], 'Gym' : [100, 90, 90]}
df = pd.DataFrame(exam_data, index = ['Dujun', 'Yoseop', 'Light'])
print(df)
print('\n')
df2 = df[:]
df2.drop('Dujun', axis=0, inplace = True)
print(df2)

        Math  English  Music  Gym
Dujun     90       98     85  100
Yoseop    80       89     95   90
Light     70       95    100   90


        Math  English  Music  Gym
Yoseop    80       89     95   90
Light     70       95    100   90

<ipython-input-6-860ef48b09f4>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('Dujun', axis=0, inplace = True)

In [ ]:
import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Dujun', 'Yoseop', 'Light'])

print(df)
print('\n')

df2 = df[:]

df2.drop('Dujun', axis=0, inplace = True)

print(df2)
print('\n')

        Math  English  Music  Gym
Dujun     90       98     85  100
Yoseop    80       89     95   90
Light     70       95    100   90


        Math  English  Music  Gym
Yoseop    80       89     95   90
Light     70       95    100   90

<ipython-input-3-beeeebcd6aaa>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('Dujun', axis=0, inplace = True)

In [ ]:
import pandas as pd

exam_data = {'Math' : [100, 100, 100], 'English' : [100, 100, 100],
             'Music' : [100, 100, 100], 'Gym' : [100, 100, 90]}

df = pd.DataFrame(exam_data, index = ['Dujun', 'Yoseop', 'Light'])

print(df)

df2 = df[:]
df2.drop('Gym', axis = 1, inplace = True)

print(df2)
print('\n')

        Math  English  Music  Gym
Dujun    100      100    100  100
Yoseop   100      100    100  100
Light    100      100    100   90
        Math  English  Music
Dujun    100      100    100
Yoseop   100      100    100
Light    100      100    100

<ipython-input-15-d5c49201bfa5>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('Gym', axis = 1, inplace = True)

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 4 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Dropping rows Ìñâ ÏÇ≠Ï†ú**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

df2 = df[:]

# axis=0 for dropping "rows" (cf., axis=1 for dopping columns)
df2.drop('Emma', axis=0, inplace = True)

print(df2)
print('\n')

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90

<ipython-input-16-4721aa9579e3>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('Emma', axis=0, inplace = True) # axis=0 for dropping "rows" (cf., axis=1 for dopping columns)

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 4 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Dropping columns Ïó¥ ÏÇ≠Ï†ú**
import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

df2 = df[:]

# axis=1 for dropping columns
df2.drop('Gym', axis=1, inplace=True)

print(df2)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music
Simon    90       98     85
Emma     80       89     95
Mary     70       95    100

<ipython-input-17-227bb8f723a7>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('Gym', axis=1, inplace=True) # axis=1 for dropping columns

#<font color = 'red'> **loc[ ], iloc[ ]**
>
* Ïù∏Îç±Ïä§ Ïù¥Î¶Ñ(index name) Í∏∞Ï§ÄÏúºÎ°ú ÏÑ†ÌÉùÌï† ÎïåÎäî loc[] ÏÇ¨Ïö©
* Ï†ïÏàòÌòï ÏúÑÏπò(integer position) Ïù∏Îç±Ïä§Î•º ÏÇ¨Ïö©Ìï† ÎïåÎäî iloc[] ÏÇ¨Ïö©

>

| Íµ¨Î∂Ñ | loc[ ] | iloc[ ] |
|:|-|-|
|ÌÉêÏÉâÎåÄÏÉÅ|Ïù∏Îç±Ïä§ Ïù¥Î¶Ñ index label/name| Ï†ïÏàòÌòï ÏúÑÏπò Ïù∏Îç±Ïä§ (integer position)|
|Î≤îÏúÑÏßÄÏ†ï ÏòàÏãú|loc['a':'c'] ‚û°Ô∏è 'a', 'b', 'c'|iloc[3:7] ‚û°Ô∏è  3,4,5,6|

#Ïà´ÏûêÎäî :Îí§Ïóê Ìè¨Ìï®Ïù¥ Ïïà ÎêòÍ≥† Î¨∏ÏûêÎäî :Îí§ÎèÑ Ìè¨Ìï®Ïù¥ ÎêúÎã§

In [ ]:
import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df1 = pd.DataFrame(exam_data)
print(df1)
print('\n')

df = pd.DataFrame(exam_data, index = ['Dujun', 'Yoseop', 'Light'])

print(df)
print('\n')

integer_position1 = df.iloc[0]
print('\n')
print(interger_position1)

   Math  English  Music  Gym
0    90       98     85  100
1    80       89     95   90
2    70       95    100   90


        Math  English  Music  Gym
Dujun     90       98     85  100
Yoseop    80       89     95   90
Light     70       95    100   90

NameError: name 'interger_position1' is not defined

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 5 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Choose a row Ìñâ ÏÑ†ÌÉù**

#@markdown <font color = 'blue'> **loc[] & iloc[]**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')


#Data display is trasversed when one element is in loc[].
label1 = df.loc['Simon']
print(label1)
print('\n')

#Data display is trasversed when one element is in loc[].
position1 = df.iloc[0]
print(position1)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


Math        90
English     98
Music       85
Gym        100
Name: Simon, dtype: int64


Math        90
English     98
Music       85
Gym        100
Name: Simon, dtype: int64

In [ ]:
import pandas as pd
exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}
df = pd.DataFrame(exam_data, index = ['Dujun', 'Yoseop', 'Gikwang', 'Dongwoon'])

print(df)
print('\n')

label2 = df.loc[['Dujun', 'Yoseop']]
print(label2)
print('\n')

df2 = pd.DataFrame(exam_data)
print(df2)
print('\n')
label3 = df.iloc[[0, 2]]
print(label3)
print('\n')

          Math  English  Music  Gym
Dujun       90       98     85  100
Yoseop      80       89     95   90
Gikwang     70       95    100   90
Dongwoon    85       79    100   88


        Math  English  Music  Gym
Dujun     90       98     85  100
Yoseop    80       89     95   90


   Math  English  Music  Gym
0    90       98     85  100
1    80       89     95   90
2    70       95    100   90
3    85       79    100   88


         Math  English  Music  Gym
Dujun      90       98     85  100
Gikwang    70       95    100   90

In [ ]:
import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

location2 = df.lioc[[0,1]]
print(location2)
print('\n')

location3 = df.lioc[[1,2,3]]
print(location3)

location4 = df.lioc[[1,3]]
print(location4)

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 6 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Choose rows Î≥µÏàòÌñâ ÏÑ†ÌÉù**

#@markdown <font color = 'blue'> **loc[[]] & iloc[[]]**

import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

#Choose rows Î≥µÏàòÌñâ ÏÑ†ÌÉù
label2 = df.loc[['Simon', 'Mary']]
print(label2)
print('\n')

#Choose a row, resulting in its corresponding columns trasversed.
position1 = df.iloc[0]
print(position1)
print('\n')

#Choose rows Î≥µÏàòÌñâ ÏÑ†ÌÉù (index number 0 & index number 2)
position2 = df.iloc[[0,2]]
print(position2)
print('\n')

#Choose rows Î≥µÏàòÌñâ ÏÑ†ÌÉù (index number 0, index number 2, & index number 2)
position3 = df.iloc[[0,1,2]]
print(position3)
print('\n')

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90


Math        90
English     98
Music       85
Gym        100
Name: Simon, dtype: int64


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90

In [4]:
import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])
print(df)
print('\n')

label3 = df.loc['Simon':'Emma']
print(label3)
print('\n')

location3 = df.iloc[0:2]
print(location3)
print('\n')

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 7 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Select rows using the colon symbol ÏΩúÎ•∏ ÏÇ¨Ïö©ÌïòÏó¨ Î≥µÏàòÌñâ ÏÑ†ÌÉù**

#@markdown <font color = 'blue'> **loc[[]] & iloc[[]]**

import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

label3 = df.loc['Simon':'Emma']
print(label3)
print('\n')

#The last index number is excluded.
location4 = df.iloc[0:2]
print(location4)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90

In [5]:
import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

math1 = df['Math']
print(math1)
print('\n')
print(type(math1))

english1 = df['English']
print(english1)
print('\n')
print(type(english1))

music1 = df['Music']
print(music1)
print('\n')
print(type(music1))

gym1 = df['Gym']
print(gym1)
print('\n')
print(type(gym1))

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


Simon    90
Emma     80
Mary     70
Louis    85
Name: Math, dtype: int64


<class 'pandas.core.series.Series'>
Simon    98
Emma     89
Mary     95
Louis    79
Name: English, dtype: int64


<class 'pandas.core.series.Series'>
Simon     85
Emma      95
Mary     100
Louis    100
Name: Music, dtype: int64


<class 'pandas.core.series.Series'>
Simon    100
Emma      90
Mary      90
Louis     88
Name: Gym, dtype: int64


<class 'pandas.core.series.Series'>

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 8 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Select a column Ïó¥ ÏÑ†ÌÉù**

#@markdown <font color = 'blue'> **column name[ ]**

import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

math1 = df['Math']
print(math1)
print('\n')
print(type(math1))

english1 = df['English']
print(english1)
print('\n')
print(type(english1))

gym1 = df['Gym']
print(gym1)
print('\n')
print(type(gym1))

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


Simon    90
Emma     80
Mary     70
Louis    85
Name: Math, dtype: int64


<class 'pandas.core.series.Series'>
Simon    98
Emma     89
Mary     95
Louis    79
Name: English, dtype: int64


<class 'pandas.core.series.Series'>
Simon    100
Emma      90
Mary      90
Louis     88
Name: Gym, dtype: int64


<class 'pandas.core.series.Series'>

In [ ]:
import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

eng_gym = df[['English','Gym']]
print(eng_gym)
print('\n')
print(type(eng_gym))

three_subj = df[['English','Music','Gym']]
print(three_subj)
print('\n')
print(type(three_subj))

In [8]:
import pandas as pd

exam_data = {'Math':[100, 100, 100, 100, 50], 'English':[100, 100, 100, 100, 100],
             'Music':[100, 100, 100, 100, 100], 'Gym':[100, 100, 100, 100, 50], 'Social':[100, 100 , 100, 100, 100]}

df = pd.DataFrame(exam_data, index = ['Dujun', 'Yoseop', 'Gikwang', 'Dongwoon', 'Light'])

print(df)
print('\n')

mus_gym= df[['Music', 'Gym']]
print(mus_gym)
print('\n')
print(type(mus_gym))

three_subj = df[['Music', 'Gym', 'English']]
print(three_subj)
print('\n')
print(type(three_subj))

          Math  English  Music  Gym  Social
Dujun      100      100    100  100     100
Yoseop     100      100    100  100     100
Kikwang    100      100    100  100     100
Dongwoon   100      100    100  100     100
Light       50      100    100   50     100


          Music  Gym
Dujun       100  100
Yoseop      100  100
Kikwang     100  100
Dongwoon    100  100
Light       100   50


<class 'pandas.core.frame.DataFrame'>
          Music  Gym  English
Dujun       100  100      100
Yoseop      100  100      100
Kikwang     100  100      100
Dongwoon    100  100      100
Light       100   50      100


<class 'pandas.core.frame.DataFrame'>

In [ ]:
import pandas as pd
student1 = df.series(['literature':100, 'English':100, 'Math':50])
print(student1)

In [ ]:
#@markdown <font color = 'red'> **üêπ Student Activity 8 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Select columns Î≥µÏàòÏó¥ ÏÑ†ÌÉù**

#@markdown <font color = 'blue'> **column name[[]]**

import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

#üí£Remember to use two sets of squared brackets!
eng_gym = df[['English','Gym']]
print(eng_gym)
print('\n')
print(type(eng_gym))

#üí£Remember to use two sets of squared brackets!
three_subj = df[['English','Music','Gym']]
print(three_subj)
print('\n')
print(type(three_subj))

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       English  Gym
Simon       98  100
Emma        89   90
Mary        95   90
Louis       79   88


<class 'pandas.core.frame.DataFrame'>
       English  Music  Gym
Simon       98     85  100
Emma        89     95   90
Mary        95    100   90
Louis       79    100   88


<class 'pandas.core.frame.DataFrame'>